@font-face {
   font-family: 'B Zar_0';
   font-display: swap;
   src: url('B Zar_0/font.ttf');
}
@font-face {
   font-family: 'B Mitra_0';
   font-display: swap;
   src: url('B Mitra_0/font.ttf');
}
