@font-face {
   font-family: 'B Mitra_0';
   font-display: swap;
   src: url('file:///C:/Users/MohamadMahdi%20Yektaie/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-03-01_061816/fonts/B%20Mitra_0/font.ttf');
}
